{
  "tabWidth": 2,
  "trailingComma": "all",
  "bracketSameLine": false,
  "bracketSpacing": true,
  "semi": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports", "prettier-plugin-tailwindcss"],
  "tailwindConfig": "./tailwind.config.js",
  "printWidth": 120,
  "endOfLine": "lf",
  "arrowParens": "always",
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrder": [
    "^react(/[^\\/]+)?$",
    "^next(/[^\\/]+)?$",
    "<THIRD_PARTY_MODULES>",
    "^[a-z|A-Z]/(.*)$",
    "^entities/(.*)$",
    "^features/(.*)$",
    "^widgets/(.*)$",
    "^molecules/(.*)$",
    "^organisms/(.*)$",
    "^shared/(.*)$",


    "^./(.*)$",
    "^../(.*)$",
    "./*.module.scss"
  ]
}
